---
import Base from '../layouts/Base.astro';
import Hero from '../sections/01-Hero.astro';
import Tagline from '../sections/02-Tagline.astro';
import Interior from '../sections/03-Interior.astro';
import Limited from '../sections/04-Limited.astro';
import Menu from '../sections/05-Menu.astro';
import Shop from '../sections/06-Shop.astro';
import Footer from '../sections/07-Footer.astro';
import BottomNav from '../components/BottomNav.astro';
---

<Base title="HAYAKAWA|一口餃子専門店">
    <main>
        <Hero />
        <Tagline />
        <Interior />
        <Limited />
        <Menu />
        <Shop />
    </main>
    <BottomNav />
    <Footer />
</Base>
