---
import Base from '../layouts/Base.astro';
import Hero from '../sections/01-Hero.astro';
import Section from '../sections/02-Section.astro';
import Footer from '../sections/99-Footer.astro';
import StickyHeader from '../components/StickyHeader.astro';
import StickyFooterNav from '../components/StickyFooterNav.astro';
---

<Base title="サイトタイトル">
  <StickyHeader />
  <main>
    <Hero />
    <Section />
  </main>
  <Footer />
  <StickyFooterNav />
</Base>
